/*CSS Reset*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial;
  font-size: 1rem;
  color: #fff;
  background: #000;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

ol, ul, li, i {
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
}

/*Helper Class*/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  min-height: 100vh;
}

/*Main Header*/

.mainHeader {
  padding: 2.5rem 0;
}

.mainLogo {
  width: 400px;
}

.mainNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem
}

.mainNavMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.mainNavItemLink:link {
  font-size: 2rem;
}

/*Main Content*/

.section {
  padding-bottom: 2.5rem;
}

.sectionContent {
  display: flex;
  flex-direction: column;
}

.actionList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionItem {
  display: flex;
}

.actionItemLink {
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 1rem 2rem;
}
